<app-img-component
    title1="HALO REACH"
    img1="Gallery/Gallery4.jpg"
    title2="HALO INFINITE"
    img2="Gallery/gallery1.jpeg"  
></app-img-component>


<app-img-component
    title1="HALO REACH"
    img1="Gallery/gallery5.jpg"
    title2="HALO REACH"
    img2="Gallery/gallery2.jpg"  
></app-img-component>

<app-img-component
    title1="HALO REACH"
    img1="Gallery/Gallery4.jpg"
    title2="HALO REACH"
    img2="Gallery/Gallery4.jpg"  
></app-img-component>


<app-img-component
    title1="HALO REACH"
    img1="Gallery/Gallery4.jpg"
    title2="HALO REACH"
    img2="Gallery/Gallery4.jpg"  
></app-img-component>
<app-img-component
    title1="HALO REACH"
    img1="Gallery/Gallery4.jpg"
    title2="HALO REACH"
    img2="Gallery/Gallery4.jpg"  
></app-img-component>

