<app-img-component
    title1="HALO REACH: CARTER"
    img1="Gallery/Gallery4.jpg"
    title2="HALO INFINITE: JONH"
    img2="Gallery/gallery1.jpeg"  
></app-img-component>


<app-img-component
    title1="HALO REACH: JUN"
    img1="Gallery/gallery5.jpg"
    title2="HALO REACH: NOBLE 6"
    img2="Gallery/gallery2.jpg"  
></app-img-component>

<app-img-component
    title1="HALO IFNINITE: JONH"
    img1="Gallery/gallery3.jpg"
    title2="HALO WARS"
    img2="Gallery/gallery6.jpg"  
></app-img-component>
<app-img-component
    title1="HALO 2: MASTER CHIEF"
    img1="Gallery/gallery7.jpg"
    title2="HALO 5: OSIRIS"
    img2="Gallery/gallery8.jpg"  
></app-img-component>
<app-img-component
    title1="ODST"
    img1="Gallery/gallery9.jpg"
    title2="HALO REACH: EMILE"
    img2="Gallery/gallery10.jpg"  
></app-img-component>
<app-img-component
    title1="HALO REACH"
    img1="Gallery/gallery11.png"
    title2="HALO ODST"
    img2="Gallery/gallery12.jpg"  
></app-img-component>
<app-img-component
    title1="HALO WARS: ATRIOX "
    img1="Gallery/gallery13.jpg"
    title2="HALO INFINITE: ARMA"
    img2="Gallery/gallery14.jpg"  
></app-img-component>
