<app-about-game></app-about-game>
<main>
  <!-- como aca sera donde usaremos y reutilizaremos el componente aqui es donde se rota la info -->
  <app-game-cover
    imgUrl="https://imgur.com/RLhtKHm.jpg"
    titleCover="HALO: CE"
    textCover="Halo: Combat Evolved es un videojuego  de disparos en primera persona creado por Bungie.
     Fue el primer juego de la saga Halo, y el primer capítulo de la actual trilogía de shooters creados por Estudios Bungie."
    [isLeft]="true"
  ></app-game-cover>

  <app-game-cover
    imgUrl="https://imgur.com/lz9FSSV.jpg"
    titleCover="HALO 2"
    textCover="Halo 2 es un videojuego de disparos en primera persona (FPS) desarrollado por Bungie Studios 
    junto a Microsoft Studios y es el segundo juego de Halo y sucesor directo del Halo: Combat Evolved."
    [isLeft]="false"
  ></app-game-cover>

  <app-game-cover
    imgUrl="https://imgur.com/G0eXt1x.jpg"
    titleCover="HALO 3"
    textCover="Halo 3 fue exclusivamente para Xbox 360. Tiene el lema 
    de Finish the Fight. Representa el final de la ya clásica
     trilogía, se resuelve por fin la historia desarrollada en los dos
     títulos previos, hasta la salida de Halo Wars y Halo: Reach."
    [isLeft]="true"
  ></app-game-cover>

  <app-game-cover
    imgUrl="https://imgur.com/SBLzogF.jpg"
    titleCover="HALO 4"
    textCover="Halo 4 es el decimoquintosexto juego de la Franquicia de me la Halo, y el primero 
    de la Saga del Reclamador, creada por 343 Industries. Este juego es el sucesor cronológico de
    Halo 3 y es el predecesor de Halo 5: Guardians. "
    [isLeft]="false"
  ></app-game-cover>

  <app-game-cover
    imgUrl="https://imgur.com/Og08niL.jpg"
    titleCover="HALO 5"
    textCover="Halo 5: Guardians trata sobre la deserción del Jefe Maestro y la caza del mismo 
    por parte de la Oficina de Inteligencia Naval y una amenaza que se encuentra eliminando planetas."
    [isLeft]="true"
  ></app-game-cover>

  <app-game-cover
    imgUrl="https://imgur.com/CgEBSIE.jpg"
    titleCover="HALO INFINITE"
    textCover="Halo Infinite fue revelado en la E3 2018 y originalmente sería lanzado al mercado junto con 
    la Xbox Series X a finales de 2020, siendo este un soft-reboot de la saga y siendo el más reciente en el mercado."
    [isLeft]="false"
  ></app-game-cover>
</main>

<app-carousel></app-carousel>
