<div class="history-principal">
    <div class="history-div_info">
    <div class="history-title">
        <h2 class="history-title_text">titulo</h2>
    </div>
    <div class="history-sinopsis">
        <p class="history-sinopsis_text">
            sinpsois
        </p>
    </div>
    </div>
    <app-carousel
imgUrl1="Carrusel/carrusel1.jpg"
imgUrl2="Carrusel/carrusel2.jpeg"
imgUrl3="Carrusel/carrusel3.jpg"
imgUrl4="Carrusel/carrusel4.jpg"
imgUrl5="Carrusel/carrusel5.jpg"
imgUrl6="Carrusel/carrusel6.jpg"

></app-carousel>

<app-history-card></app-history-card>

     <app-carousel
imgUrl1="Carrusel/carrusel1.jpg"
imgUrl2="Carrusel/carrusel2.jpeg"
imgUrl3="Carrusel/carrusel3.jpg"
imgUrl4="Carrusel/carrusel4.jpg"
imgUrl5="Carrusel/carrusel5.jpg"
imgUrl6="Carrusel/carrusel6.jpg"

></app-carousel>
</div>