<div class="history-principal">
    <app-first-info
    titulo="gggggggggggw"
    sinopsis="owo"
    ></app-first-info>
    <app-carousel
imgUrl1="Carrusel/carrusel1.jpg"
imgUrl2="Carrusel/carrusel2.jpeg"
imgUrl3="Carrusel/carrusel3.jpg"
imgUrl4="Carrusel/carrusel4.jpg"
imgUrl5="Carrusel/carrusel5.jpg"
imgUrl6="Carrusel/carrusel6.jpg"

></app-carousel>

<app-history-card
    texto1="eto1"
    imgUrl1="eto1.com"
    texto2="eto2"
    imgUrl2="eto.com2"
></app-history-card>
    

     <app-carousel
imgUrl1="Carrusel/carrusel1.jpg"
imgUrl2="Carrusel/carrusel2.jpeg"
imgUrl3="Carrusel/carrusel3.jpg"
imgUrl4="Carrusel/carrusel4.jpg"
imgUrl5="Carrusel/carrusel5.jpg"
imgUrl6="Carrusel/carrusel6.jpg"

></app-carousel>
</div>