.section-aboutgame {
    width: 100vw;
    height: 21.25em;
    background-color: #0F0E18;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutgame-text {
    color: #FFFFFF;
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    padding: 20px;
    opacity: 0; 
    transform: translateY(100px); 
    animation: fadeInUp 1s ease-out forwards; 
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
