.slider-container {
  display: flex;
  width: 100%;
  height: 520px;
  overflow-x: scroll;  
  scroll-behavior: smooth; 
  scrollbar-width: none;  
  -ms-overflow-style: none;  
}

.slider-container::-webkit-scrollbar {
  display: none;  
}

.slider-container img {
  width: 100%;
  object-fit: cover;
  display: inline-block; 
}
.gallery-div{
  background-color: #0F0E18;
  height: 60px;
  display: flex;
  justify-content: center; 
 
  
}

.gallery-ref{
  text-decoration: none;
  color: white;
  font-family: "Reem Kufi Ink", sans-serif;
  font-size:  20px;
  padding: .35cm;
}