<div class="principal-div">
    <div class="principal-div1">
        <div class="principal-title">
            <h2 class="principal-title_text">
                {{ title1 }}
            </h2>
        </div>
        <div class="container-img">
            <img [src]="img1" alt="" class="principal-img" />
        </div>
    </div>
    <div class="principal-div2">
        <div class="principal-title">
            <h2 class="principal-title_text">
                {{ title2 }}
            </h2>
        </div>
        <div class="container-img">
            <img [src]="img2" alt="" class="principal-img" />
        </div>
    </div>
</div>
