.navbar{
    max-width: 100vw;
    height: 11.75em;
    background-color: #0D0B11;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.navbar-menu{
    max-width: 100%;
    display: flex; 
}

.navbar-itemhome{
    margin-top: 5px;
    width: 100px;
    height: 114.43px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 0.2s ease;
}

.navbar-item{
    width: 200px;
    height: 127.66px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 0.2s ease;
}

.navbar-item:hover,
.navbar-itemhome:hover {
    transform: scale(1.2); 
}

.navbar-img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
