<nav class="navbar">
    <div class="navbar-menu">
        <a href="" class="navbar-itemhome">
            <img src="https://imgur.com/BiQjoF3.jpg" alt="Home" />
        </a>
        <a href="" class="navbar-item">
            <img src="https://imgur.com/ihbr3wX.jpg" alt="HaloCe" />
          </a>          
        <a href="" class="navbar-item">
          <img src="https://imgur.com/nopJYmW.jpg" alt="Halo2" />
        </a>
        <a href="" class="navbar-item">
            <img src="https://imgur.com/PDbuLfM.jpg" alt="Halo3" />
        </a>
        <a href="" class="navbar-item">
            <img src="https://imgur.com/ugcth0u.jpg" alt="Halo4" />
        </a>
        <a href="" class="navbar-item">
            <img src="https://imgur.com/g48Zucg.jpg" alt="Halo5" />
        </a>
        <a href="" class="navbar-item">
            <img src="https://imgur.com/HKfbLUC.jpg" alt="Halo6" />
        </a>
    </div>


  </nav>
  