<nav class="navbar">
    <div class="navbar-menu">
        <a href="/" class="navbar-itemhome">
            <img class="navbar-img" src="Nav/halohome.png" alt="Home" />
        </a>
        <a href="history/halo1" class="navbar-item">
            <img class="navbar-img" src="Nav/halo1.jpeg" alt="HaloCe" />
          </a>          
        <a href="history/halo2" class="navbar-item">
          <img class="navbar-img" src="Nav/halo2.jpg" alt="Halo2" />
        </a>
        <a href="history/halo3" class="navbar-item">
            <img class="navbar-img" src="Nav/halo3.jpeg" alt="Halo3" />
        </a>
        <a href="history/halo4" class="navbar-item">
            <img class="navbar-img" src="Nav/halo4.jpeg" alt="Halo4" />
        </a>
        <a href="history/halo5" class="navbar-item">
            <img class="navbar-img" src="Nav/halo5.jpg" alt="Halo5" />
        </a>
        <a href="history/haloInfinite" class="navbar-item">
            <img class="navbar-img" src="Nav/halo6.jpeg" alt="Halo6" />
        </a>
    </div>


  </nav>
  